<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SistemaOpinionesDb"
         connectionString="Data Source=localhost;Database=SistemaOpinion;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" />
  </connectionStrings>

  <appSettings>
    <add key="ClientsCsvPath" value="C:\Users\User\Documents\Csv Opiniones\clients.csv" />
    <add key="ProductsCsvPath" value="C:\Users\User\Documents\Csv Opiniones\products.csv" />
    <add key="FuenteDatosCsvPath" value="C:\Users\User\Documents\Csv Opiniones\fuente_datos.csv" />
    <add key="SocialCommentsCsvPath" value="C:\Users\User\Documents\Csv Opiniones\social_comments.csv" />
    <add key="WebReviewsCsvPath" value="C:\Users\User\Documents\Csv Opiniones\web_reviews.csv" />
    <add key="SurveysCsvPath" value="C:\Users\User\Documents\Csv Opiniones\surveys_part1.csv" />
  </appSettings>
</configuration>
